:root {
  --base-background: #16171B;
  /* ---base-title: #fff; */
  --a: #F1F3F5;
  --base-title: #EFEFEF;
  --base-label: #c0c0c0;
  --base-sidebar-label: #A1A1A1;
  --base-placeholder: #737373;
  --sidebar-text: #c1c1c1;
  --base-sidebar: #121216;
  --base-input: rgba(0, 0, 0, .1);
  --base-input-focus: #131414;
  --base-card: #222327;
 
  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --blue: #005fd2;
  --blue-dark: #003d8d;
  --blue-dark-opacity: rgb(0, 61, 141, 0.4);

  --green: #00efd1;
  --green-dark: #00ad95;

  --orange: #FFAA20;
  --orange-dark: #ff8900;

  --green-500: #00B37E;
  --green-600: #00875F;
  --green-opacity: rgb(0, 179, 126, 0.4);

  --danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--base-background);
  color: var(--base-subtitle);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;

}





