@keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes contentShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.trigger {
    text-transform: uppercase;
    padding: 0.875rem 1.5rem;
    font-weight: bold;
    background: var(--green-600);
    border: 0;
    border-radius: 999px;
    color: var(--white);
    cursor: pointer;
}

.trigger:hover {
    background: var(--green-500);
    transition: background-color 0.2s ease-in-out;
}

.overlay {
    background-color: rgb(26, 26, 26, 0.8);
    backdrop-filter: blur(0.5rem);
    position: fixed;
    inset: 0;

    animation: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
    padding: 2.5rem;
    background: var(--gray-500);
    border-radius: 6px;

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 90vw;
    max-width: 400px;

    animation: contentShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content h2 {
    color: var(--gray-100);
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.closeButton {
    background: none;
    border: none;
    line-height: 0;
    padding: 0.75rem;
    font-size: 1.5rem;
    border-radius: 6px;

    position: absolute;
    top: 0;
    right: 0;

    color: var(--gray-300);
    cursor: pointer;
}

.closeButton:hover {
  color: var(--white);
  transition: color 0.2s ease-in;
}